body {
  background-image: url("/anotherbackground.jpeg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: lighten;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-size: 1em;
  font-family: "Muli", sans-serif;
}
p {
  cursor: pointer;
  border: 1px solid black;
  background-color: black;
  color: white;
  text-align: center;
  width: 300px;
  height: 50px;
  border-radius: 25px;
  
}
p:hover {
  background: rgba(0,0,0,0.3);
  box-shadow: 0 0.3px 0.7px rgba(0, 0, 0, 0.5), 
  0 0.9px 1.7px rgba(0, 0, 0, 0.179), 0 1.8px 3.5px rgba(0, 0, 0, 0.224),
  0 3.7px 7.3px rgba(0, 0, 0, 0.277), 0 10px 20px red;
  background-color: #404040;
  color: white;
  border: black;
}

a:hover {
  background: rgba(0,0,0,0.3);
  box-shadow: 0 0.3px 0.7px rgba(0, 0, 0, 0.5), 
  0 0.9px 1.7px rgba(0, 0, 0, 0.179), 0 1.8px 3.5px rgba(0, 0, 0, 0.224),
  0 3.7px 7.3px rgba(0, 0, 0, 0.277), 0 10px 20px white;
  background-color: #404040;
  color: white;
  border: black;
}

p:active{
  box-shadow: 0 0.3px 0.7px rgba(0, 0, 0, 0.5), 
  0 0.9px 1.7px rgba(0, 0, 0, 0.179), 0 1.8px 3.5px rgba(0, 0, 0, 0.224),
  0 3.7px 7.3px rgba(0, 0, 0, 0.277), 0 10px 20px blue;
}

.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.separator {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.complete {
  cursor: pointer;
  border: 5px solid black;
  background-color: clear;
  color: black;
  text-align: center;
  width: 100px;
  
  border-radius: 25px;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
a {
  color: #fff;
  text-decoration: none;
  border: 1px solid black;
  background: black;
  width: 100px;
  border-radius: 25px;
}

img {
  width: 400px;
  box-shadow: 10px 10px 7px grey;
}

.popup{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4rem;
  background-color: #111;
  text-align: center;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: all 250ms ease;
  color : white;
  width : 500px;
}
.flex {
  display: flex;
  justify-content: center;
}
